﻿@model StockroomManagement.Models.Product.AddProductViewModel

<h2>Dodawanie produktu</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(m => m.Name)
    </div>
    <div>
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Price)
    </div>
    <div>
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Description)
    </div>
    <div>
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <input type="submit" value="Dodaj" />
}