﻿@model StockroomManagement.Models.Product.ProductDetailsViewModel

<h2>Szczegóły produktu</h2>

<div>
    @Html.DisplayNameFor(m => m.Name)
</div>
<div>
    @Html.DisplayTextFor(m => m.Name)
</div>

<div>
    @Html.DisplayNameFor(m => m.Price)
</div>
<div>
    @Html.DisplayTextFor(m => m.Price)
</div>

<div>
    @Html.DisplayNameFor(m => m.Description)
</div>
<div>
    @Html.DisplayTextFor(m => m.Description)
</div>
