﻿@model List<StockroomManagement.Models.Product.ProductListViewModel>

<h2>Lista produktów</h2>

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Szczegóły</th>
            <th>Edycja</th>
        </tr>

        @foreach (var product in Model)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@Html.ActionLink("szczegóły", "Details", new { Id = product.Id })</td>
                <td>@Html.ActionLink("edytuj", "Edit", new { Id = product.Id })</td>
            </tr>
        }

    </thead>
</table>
